.container {
  background-image: url("../images/felt.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  width:100vw;
  height:100vh;
  display:flex;
}

.firstDiv{
  border:solid black;
  flex:2;
  display:flex;
  flex-direction:column;

}

.secondDiv{
  flex:1;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}

.upper{
  border: solid red;
  flex:1;
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.lower{
  border: solid blue;
  flex:1;
  display:flex;
  align-items: center;
  justify-content: space-around;
}

#pTag{
  border: dotted black;
  height: 25vh;
  width:33vw;
}

.buttonDiv{
  border: dotted blue;
  display:flex;

}

.chu{
  height:50vh;
}
