.container {
  background-image: url("../images/felt.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  width:100vw;
  height:100vh;
  display:flex;
}

.firstDiv{
  flex:2;
  display:flex;
  flex-direction:column;

}

.secondDiv{
  flex:1;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}

.upper{
  flex:1;
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.lower{
  flex:1;
  display:flex;
  align-items: center;
  justify-content: space-around;
}

#pTag{
  height: 25vh;
  width:33vw;
  color:white;
  font-family: 'East Sea Dokdo';
  font-size: 60px;
  text-align:center;
  display:flex;
  justify-content: center;
  flex-wrao: wrap;
}

.buttonDiv{
  display:flex;
  justify-content:space-between;
}

button{
  font-family:'East Sea Dokdo';
  font-size:40px;
}

.chu{
  height:50vh;
}

h1{
  font-family:'East Sea Dokdo';
  color: white;
  font-size:40px;
}
